.space-grotesk-font {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
  }

.space-grotesk-300 {
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300; /* Lightest weight */
    font-style: normal;
}

.space-grotesk-600 {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600; /* Lightest weight */
  font-style: normal;
}