
svg {
  position: absolute;
  left: 20%;
  top: 50%;
}
.group {
    transform: translate(42.5px, 42.5px);
}
path {
    transform: translate(-42.50px,-42.50px);
}
.large {
  opacity: 0;
	animation: large 4s linear infinite;
}
.large-2 {
  opacity: 0;
	animation: large-2 4s linear infinite;
}
.small {
  opacity: 0;
	animation: small 4s linear infinite;
}

@keyframes large {
	0% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
	16.667% {
		opacity: 1;
	}
	33.333% {
		opacity: 0;
		transform: rotate(360deg) scale(1.5);
	}
  100% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
}

@keyframes large-2 {
	0% {
		opacity: 0;
		transform: rotate(45deg) scale(0);
	}
	16.667% {
		opacity: 1;
	}
	33.333% {
		opacity: 0;
		transform: rotate(405deg) scale(1.1);
	}
  100% {
		opacity: 0;
		transform: rotate(45deg) scale(0);
	}
}

@keyframes small {
	0% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
	16.667% {
		opacity: 1;
	}
	33.333% {
		opacity: 0;
		transform: rotate(-360deg) scale(1.5);
	}
  100% {
		opacity: 0;
		transform: rotate(0deg) scale(0);
	}
}